
__pycache__/
*.py[cod]
*$py.class
*.pyd
*.so

.venv/
venv/
env/
ENV/
env.bak/
venv.bak/
.python-version

build/
dist/
sdist/
wheels/
downloads/
eggs/
.eggs/
*.egg
*.egg-info/
.installed.cfg
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
*.manifest
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.ruff_cache/
.tox/
.nox/
.cache
.coverage
.coverage.*
coverage.xml
*.cover
nosetests.xml
htmlcov/


*.sqlite3
*.db
